<section *ngIf="isRootRoute">

    <p class="my-2 w-[90%] mx-auto text-xl text-blue-500 font-open-sans font-black">Jobly</p>

    <div class="h-[80vh] my-auto flex flex-col justify-center">

    <h4 class="font-open-sans text-5xl font-bold text-blue-500 my-4 text-center">Select a Service</h4>

    <div class="flex justify-center self-center gap-2 font-poppins">

        <div routerLink="/jobly/cover-letter" class="flex flex-col bg-white border text-center border-gray-200 shadow-sm rounded-xl p-4 md:p-5 cursor-pointer hover:shadow-lg hover:bg-blue-500 hover:text-white">
           <img width="100" height="100" src="https://img.icons8.com/bubbles/100/hand-with-pen.png" alt="hand-with-pen" class="mx-auto"/>
           <p>Cover Letter Writer</p>
           <p>This is some text within a card body.</p> 
          </div>
        
          <div routerLink="/jobly/resume-crafter" class="flex flex-col bg-white border text-center border-gray-200 shadow-sm rounded-xl p-4 md:p-5 cursor-pointer hover:shadow-lg hover:bg-blue-500 hover:text-white">
        <img width="100" height="100" src="https://img.icons8.com/fluency/100/literature.png" alt="literature" class="mx-auto"/>
           <p>Resume Crafter</p>
           <p>This is some text within a card body.</p>
          </div>

    </div>

   </div>
</section>



<router-outlet></router-outlet>